* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  list-style: none;
}

/* styles.css */
html {
  font-size: 16px; /* 默认字体大小 */
}

@media screen and (max-width: 768px) {
  html {
    font-size: 8px; /* 移动端字体大小 */
  }
}

/* 基本布局 */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* 自动换行 */
}

/* 当屏幕宽度小于 768px 时，改变排列方式 */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* 垂直排列 */
  }
}
